@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik+Beastly&family=Rubik+Wet+Paint&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #222;
  color: white;
}

/* -------------topbar--------- */
.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
  color: #222;
  letter-spacing: 1.5px;
  font-size: 20px;
}

a:hover {
  color: #b2c251;
}

/*-------------- topbar---------- */

/* --------------Header---------- */
.header {
  background-image: url(image/header-bg.webp);
  background-position: left;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 10%;
}

.header-info {
  width: 50%;
}

.header-info span {
  font-size: 70px;
  font-weight: 300;
  display: block;
}

.header-info h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 10px;
}

.header-info p {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff66;
}

.header-img {
  width: 50%;
  height: 90vh;
}

.header-img img {
  width: 100%;
  height: 100%;
}

/* --------------/Header/---------- */

/* ---------------Portfolio-------- */
.portfolio {
  padding: 80px 10%;
}

.portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box-item {
  width: 30%;
  text-align: center;
}

.box-item img {
  width: 100%;
  border-radius: 10px;
}

.portfolio h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

/* ---------------Portfolio-------- */

/* ---------------About------------ */
.about {
  padding: 80px 10%;
  display: flex;
}

.about-img {
  width: 50%;
}

.about-img img {
  width: 100%;
}

.about-info {
  width: 45%;
  margin-top: 30px;
  margin-left: 50px;
}

.about-info h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-info p {
  font-size: 20px;
  color: #ffffff66;
  font-weight: 300;
  margin-bottom: 40px;
}

.about-info a {
  border-radius: 100px;
  background-color: #b2c251;
  padding: 12px 24px;
  font-weight: 500;
}

.about-info a:hover {
  color: green;
}

/* ---------------/About/------------ */

/* ---------------Contact------------ */
.contact {
  padding: 80px 10%;
}

.contact-touch {
  width: 60%;
}

.contact-box {
  display: flex;
  gap: 70px;
}

.contact h2 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  letter-spacing: 1px;
}

.contact-touch h3, .contact-details h3 {
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 400;
}

.contact-touch input:not(.btn),
.contact-touch textarea {
  width: 100%;
  padding: 20px;
  background-color: #333;
  border: none;
  margin-bottom: 16px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.btn{
  width: 25%;
  background-color: #b2c251;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 100px;
    color: #fff;
    padding: 20px 26px;
}

/* ------------contact-details -------*/
.contact-details{
  width: 40%;
}

.contact-item{
  margin-bottom: 30px;
}

.contact-item p{
  color: #124374;
  font-size: 22px;
}

.contact-item a:hover{
  color: #124374;
;
}